body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 34px;
}

header {
  font-size: 60px;
  font: bolder;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: yellow;
  text-shadow: 2px 2px black;
}

.main-game-section {
  font-size: 34px;
  font: bolder;
  padding-left: 20px;
  color: yellow;
  text-shadow: 2px 2px black;
}

.chars-btns{
  position: relative;
  left: 0;
  top: 0;
  width: 220px;
  height: 140px;
  background-size: cover;
  border: solid 20px white;
  margin-right: 10px;
  margin-bottom: 10px;
  color: black;
}

#char1-btn {
  background-image: url("../images/hansolo.jpg");
}

#char2-btn {
  background-image: url("../images/yoda.jpg");
}

#char3-btn {
  background-image: url("../images/emperorpalpatine.jpg");
}

#char4-btn {
  background-image: url("../images/darthvader.jpg");
}

#char1-name, #char1-hp, #char2-name, #char2-hp, #char3-name, #char3-hp, #char4-name, #char4-hp {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 18px;
}

#char1-name, #char2-name, #char3-name, #char4-name {
  top: -20px;
}

#char1-hp, #char2-hp, #char3-hp, #char4-hp {
  bottom: -20px;
}

.result-section {
  font-size: 28px;
  margin: 20px 20px 20px 0;
}