body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 34px;
}

header {
  font-size: 60px;
  font: bolder;
  color: black;
  padding: 20px;
  margin: 50px;
  text-align: center;
  -webkit-text-stroke: 1px darkcyan;
}

.game-disp {
  font-size: 34px;
  font: bolder;
  color: black;
  padding: 20px;
  margin: 10px;
  -webkit-text-stroke: 1px darkcyan;
}